body {
	margin: 0;	
}
.container {
	width: 70%;
	margin: 0 auto;
}
.center {
	text-align: center;
}
.title {
	font-family: 'Great Vibes', cursive;
	font-size: 60px;
	line-height: 64px;
	z-index: 99999;
	color: #841010;
	padding-top: 200px;
	text-align: center;
}

.date {
	padding: 5px 2px;
	text-align: center; 
	margin: 0 auto;
	font-size: 30px;
	line-height: 34px;
	font-family: 'Jura', sans-serif;
	color: #fff900;
}

.menu-box {
	position: fixed;
	right: 50px;
	top: 50%; height: 250px; 
	margin-top: -125px; 
	border-right: solid 1px #000;
	padding-right: 10px;
	z-index: 99999;
}

.menu-box div {
	font-family: 'Jura', sans-serif;
	font-size: 20px;
	line-height: 24px;
	margin-top: 50px;
	text-align: right;
	cursor: pointer;
}
.menu-box div:first-child {
	margin-top: 0px;
}

.menu-box div::after {
	content: '';
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	border: solid 1px #000;
	margin-right: -14px;
	margin-left: 10px;
	background: #000;
}

h1.title:after {
	content: '';
	display: block;
	width: 100%;
	height: 37px;
	background: url(../img/border1.png) no-repeat center center;
	margin-top: 12px;
}

h1.title {
	margin-top: 0;
	padding-top: 50px;
}

.bride {
	width: 250px; height: 250px;
	background-image: url('../img/bride.png'); 
	display: inline-block;
	background-size: cover;
	vertical-align: top;
	font-family: 'Great Vibes', cursive;
	font-size: 35px;
	line-height: 40px;
	background-position: bottom;
}
.groom {
	width: 250px; height: 250px;
	background-image: url('../img/groom.png'); 
	display: inline-block;
	background-size: cover;
	vertical-align: top;
	background-position: bottom;
}  

.about-section, .ceremony-section {
	width: 100%; min-height: 100%;
	background-image: url('../bg-a.jpg'); 
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 35px;
	line-height: 40px;
}

.about-content>div {
	display: inline-block;
}

.hover {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.mobile-menu-box {
	display: none;
}

@media only screen and (max-width: 767px) {

	.menu-box {
			display: none;
	}
	.mobile-menu-box {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		text-align: center;
		font-family: 'Jura', sans-serif;
		font-weight: 700;
		font-size: 22px;
		line-height: 26px;
		padding: 10px 0;
		background: url(../bg-a.jpg);
		color: #841010;
		z-index: 99999;
	}
	.menu-btn {
		display: none;
	}
	.menu-btn:first-child {
		display: block;
	}
	h1.title {
		margin-bottom: 0;
	}
	.about-section img {
		margin-top: 20px;
	}
}

#thanks {
	background-image: url('../bg.jpg'); width: 100%; height: 225px; background-size: cover; background-position: top center;font-family: 'Great Vibes', cursive; font-size: 45px; line-height: 55px; text-align: center; color: #841010; font-weight: 700; padding-top: 80px;
}

#developer {
	position: fixed;  left: 0; right: 0; bottom: 0; width: 100%; font-size: 16px; line-height: 20px; color: #fff; background: #7739b987; text-align: center; padding: 5px 0; text-transform: uppercase; font-weight: 600; 
}

.flipster__item {
	vertical-align: middle;
}